body {
    font-family: Arial, sans-serif;
    background-image: url('images/background.jpg'); /* Ajuste a imagem de fundo conforme necessário */
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    margin-top: 50px;
}

form {
    display: inline-block;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
